@import url('./assets/fonts/stylesheet.css');

body {
  font-family: 'Whitney', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.15;
  text-rendering: optimizeLegibility;
}

body,
p {
  font-weight: 500;
}

.App {
  background-color: #fff;
  height: 100%;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.outer2 {
    display: table;
    position: absolute;
    height: 100%;
    width: inherit;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.card {
  box-shadow: 0px 35px 70px 0px rgba(255, 163, 125, 0.65), 0px 30px 40px -10px rgba(255, 100, 124, 0.55);
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
  background: rgb(255, 163, 125);
  background: linear-gradient(180deg, rgba(255, 163, 125, 1) 0%, rgba(255, 99, 124, 1) 100%);
  transition: 0.3s;
  width: 80%;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;
  border-radius: 10px;
  /* transform: perspective(1px) translateY(+10%); */
}

.container {
  padding: 2px 16px;
}

.bottom {
  position: fixed;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  bottom: 5% !important;
  display: flex;
  padding: 0 0 4% 0;
  flex-wrap: wrap;
  align-items: center;
  z-index: 6;
  justify-content: space-between;
  align-content: center;
}

@media only screen and (min-height: 800px) {
  .card {
    height: 85vh;
  }
}

@media only screen and (max-height: 801px) {
  .card {
    height: 80vh;
  }
}

@media only screen and (max-width: 600px) {
  .card {
      width: 80%;
      overflow-x: hidden;
  }
}

@media only screen and (max-width: 400px) {
  .card {
      width: 80%;
      overflow-x: hidden;
  }
}

@media only screen and (min-width: 800px) {
  .bottom {
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
  .bottom {
    bottom: 9% !important;
  }
}

@media only screen and (max-width: 800px) {
  .bottom {
    bottom: 10% !important;
  }
}

.heroWrapper {
    background-color: transparent;
}

a {
    text-decoration: none;
}

body p {
    font-weight: 500;
}

p {
    color: #737f8d;
    font-size: 17px;
    line-height: 1.5em;
    margin-top: 36px;
}

section {
    font-weight: 500;
}

section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
    color: #4f545c;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

section h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    margin: 0;
}

section p {
    color: #737f8d;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 12px;
}

.landingHero {
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    align-items: center;
    border-bottom: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 2rem 0;
    text-align: center;
    z-index: 6;
}

.grid {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.themeLight {
    background: transparent;
}

.gridContent {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1200px;
    padding: 72px 50px 0;
    position: relative;
    z-index: 5;
}

@media only screen and (max-height: 600px) {
    .gridContent {
        padding: 36px 50px 0;
    }
}

@media only screen and (max-height: 500px) {
    .landingHero {
        padding: 1rem 0;
    }
    .gridContent {
        padding: 10px 50px 0;
    }
}

@media only screen and (max-height: 400px) {
    .landingHero {
        padding: 0rem 0;
    }
    .gridContent {
        padding: 0px 50px 0;
    }
    .headerInner {
        padding: 5px 30px;
    }
}

.themeHeader {
    color: #fff;
}

.blurb {
    color: hsla(0, 0%, 100%, .7);
    font-size: 16px;
    margin: 0 auto 30px auto;
    max-width: 710px;
}

@media only screen and (max-width: 600px) {
  .blurb {
      max-width: 350px;
      padding-top: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .blurb {
      max-width: 200px;
  }
}

.blurb2 {
    color: hsla(0, 0%, 100%, .7);
    font-size: 12px;
    width: 100%;
    text-align: center;
    bottom: 4%;
}

.blurb2r {
    color: hsla(0, 0%, 100%, .7);
    font-size: 12px;
    width: 100%;
    text-align: center;
}

@media only screen and (min-height: 750px) {
  .blurb2, .blurb2r {
      bottom: 25%;
  }
}


.buttonsWrapper {
    -webkit-transition: opacity .5s ease;
    opacity: 1;
    z-index: 5;
    padding-left: 25px;
    transition: opacity .5s ease;
}

.buttons {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}

.buttons,
.buttonsOpen {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.buttonBase {
    /* -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 20%);
    -webkit-transform: translateY(-1px);
    -webkit-transition: -webkit-box-shadow .3s cubic-bezier(.25, .25, .315, 1.35), -webkit-transform .1s linear; */
    border-radius: 100px;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
    height: 45px;
    margin-right: 40px;
    transform: translateY(-1px);
    transition: -webkit-box-shadow .3s cubic-bezier(.25, .25, .315, 1.35), -webkit-transform .1s linear;
    transition: box-shadow .3s cubic-bezier(.25, .25, .315, 1.35), transform .1s linear;
    width: 250px;
}

@media only screen and (max-width: 400px) {
  .buttonBase {
      width: 200px;
  }
}

.buttonBase:hover {
    box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.3);
}

.downloadNow {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
    font-weight: 600;
    justify-content: center;
    padding: 0;
    position: relative;
}

.themeDefault {
    background-color: #fff;
    color: transparent;
}

.themeDefault span {
    background: rgb(255, 100, 125);
    /* background: linear-gradient(180deg, rgba(255, 163, 125, 1) 0%, rgba(255, 99, 124, 1) 100%); */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display:block;
}